* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: "Segoe UI", Helvetica, Arial, sans-serif;
}
html {
  overflow-y: scroll;
}
a {
  text-decoration: none;
  color: inherit;
}
:root {
  --bg-primary: #fff;
  --bg-secondary: #f0f2f5;
  --bg-third: #e4e6eb;
  --bg-forth: #f0f2f5;
  --color-primary: #050505;
  --color-secondary: #65676b;
  --divider: #ced0d4;
  --dark-bg-primary: #18191a;
  --dark-bg-secondary: #242526;
  --dark-bg-third: #3a3b3c;
  --dark-color-primary: #242526;
  --dark-color-secondary: #b0b3b8;
  --blue-color: #1876f2;
  --green-color: #42b72a;
  --light-blue-color: #e7f3ff;
  --border-color: #ccced2;
  --shadow-1: rgba(0, 0, 0, 0.2);
  --shadow-2: rgba(0, 0, 0, 0.1);
  --shadow-3: rgba(0, 0, 0, 0.3);
  --shadow-inset: rgba(255, 255, 255, 0.5);
}

.dark{
  --bg-primary: #242425;
  --bg-secondary: #18191a;
  --bg-third: #3a3b3c;
  --bg-forth: #3a3b3c;
  --color-primary: #e4e6eb;
  --color-secondary: #b0b3b8;
}
/*--Buttons----*/ 
.blue_btn {
border: none; 
outline: none;
background: var(--blue-color);
padding: 8.5px 12px;
border-radius: 7px; 
font-family: inherit;
font-weight: 600; 
font-size: 14px;
color: #fff; 
display: flex;
align-items: center; 
justify-content: center;
gap: 6px;
cursor: pointer;
}

.grey_btn {
  border: none; 
  outline: none;
  background:#faf5e4;
  padding: 8.5px 12px;
  border-radius: 7px; 
  font-family: inherit;
  font-weight: 600; 
  font-size: medium;
  color: #2c786c; 
  display: flex;
  align-items: center; 
  justify-content: center;
  gap: 6px;
  cursor: pointer;
  height: 35px;
  width: 120px ;
  }

  .shadow_btn {
    border: none; 
    outline: none;
    background:#faf5e4;
    padding: 8.5px 12px;
    border-radius: 7px; 
    font-family: inherit;
    font-weight: 600; 
    font-size: medium;
    color: #2c786c; 
    display: flex;
    align-items: center; 
    justify-content: center;
    gap: 6px;
    cursor: pointer;
    height: 35px;
    width: 170px ;
    border: 1px solid #004445 ;
    box-shadow: 0px 12px 20px 0 #000, 0 2px 4px 0 #000;
    }
    .bio_btn {
      border: none; 
      outline: none;
      background:#2c786c ;
      padding: 8.5px 12px;
      border-radius: 7px; 
      font-family: inherit;
      font-weight: 600; 
      font-size: medium;
      color: #f8b400 ; 
      display: flex;
      align-items: center; 
      justify-content: center;
      gap: 6px;
      cursor: pointer;
      height: 35px;
      width: 170px ;
      border: 1px solid #004445 ;
      box-shadow: 0px 12px 20px 0 #000, 0 2px 4px 0 #000;
      }

    .shadow_cancel_btn {
      border: none; 
      outline: none;
      background:#faf5e4;
      padding: 8.5px 12px;
      border-radius: 7px; 
      font-family: inherit;
      font-weight: 600; 
      font-size: medium;
      color: #2c786c; 
      display: flex;
      align-items: center; 
      justify-content: center;
      gap: 6px;
      cursor: pointer;
      height: 35px;
      width: 110px ;
      border: 1px solid #004445 ;
      box-shadow: 0px 12px 20px 0 #000, 0 2px 4px 0 #000;
      }

    .shadoww_btn {
      border: none; 
      outline: none;
      background: #f8b400;
      padding: 8.5px 12px;
      border-radius: 7px; 
      font-family: inherit;
      font-weight: 600; 
      font-size: medium;
      color: #2c786c; 
      display: flex;
      align-items: center; 
      justify-content: center;
      gap: 6px;
      cursor: pointer;
      height: 35px;
      width: 170px ;
      border: 1px solid #004445 ;
      box-shadow: 0px 12px 20px 0 #000, 0 2px 4px 0 #000;
      }

  .story_btn {
    border: none; 
    outline: none;
    background:#efdca6;
    padding: 8.5px 12px;
    border-radius: 7px; 
    font-family: inherit;
    font-weight: 600; 
    font-size: medium;
    color: #2c786c; 
    display: flex;
    align-items: center; 
    justify-content: center;
    gap: 6px;
    cursor: pointer;
    height: 45px;
    width: 140px ;
    border: 3px double #004445;
    box-shadow: 0px 12px 20px 0 #000, 0 2px 4px 0 #000;
    }

.blur{
   position: fixed;
   top: 0;
   bottom: 0;
   left: 0;
   right: 0;
   background: rgba(255, 255, 255, 0.703);
   z-index: 9999;
}
.yellow_btn {
  border: 1px solid #004445; 
  /* outline: none; */
  background:#faf5e4;
  padding: 8.5px 12px;
  border-radius: 7px; 
  font-family: inherit;
  font-weight: 600; 
  font-size: medium;
  color: #2c786c; 
  display: flex;
  align-items: center; 
  justify-content: center;
  gap: 6px;
  cursor: pointer;
  height: 25px;
  width: 80px ;
  }


/* ---------------hovers---------------- */

.hover1:hover {
  background: #faf5e4;
}

.hover2:hover {
  background: var(--bg-third) ;
}
.hover3:hover{
  background-color: #fff;
}
.hover4:hover{
  background-color: #7fa99b;
}
.hover5:hover{
  color: #f8b400 !important;
  background: #faf5e4;
}
.hover6:hover{
  background: #efdca6;
}
/* ---------------hovers---------------- */

/* .card {
  height: 500px;
  width: 500px;
  background-color: red;
} */


/* ------------scrollbar------------- */
.scrollbar::-webkit-scrollbar{
  width: 4px;
}
.scrollbar::-webkit-scrollbar-thumb{
  background: #faf5e4;
  border-radius: 50%;
}
.scrollbar1::-webkit-scrollbar{
  width: 4px;
  
  
}
.scrollbar1::-webkit-scrollbar-thumb{
  background: #004445;
  border-radius: 50%;
}
.right_home {
  position: fixed;
  left: 80.7vw;
  top: 5rem;
  width: 17vw;
}

.splitter1 {
  height: 1.3px;
  background: var(--divider);
  width: 17vw;
  margin: 6px 2px 0 12px;
}

.contacts_header {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 12px 0 7px 10px;
  font-weight: 600;
  color: var(--color-secondary);
}

.contacts_header_right {
  display: flex;
  align-items: center;
  gap: 6px;
}

.contact_circle {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.contacts_list {
  padding: 5px;
}

.contact {
  display: flex;
  align-items: center;
  gap: 12px;
  font-size: 14px;
  padding: 5px;
  border-radius: 10px;
  cursor: pointer;
  color: var(--color-primary);
  font-weight: 600;
}

.contact img {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  object-fit: contain;
}

.contact span {
  transform: translateY(-2px);
}
.small_circle{
  position: relative;
  height: 26px;
  width: 26px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 11px;
  background: #f8b400;
  cursor: pointer;
  /* border: 2px solid #004445 ; */
    box-shadow: 0px 12px 20px 0 #000, 0 2px 4px 0 #000;
}

.l_r_i{
  width: 100%;
}
